In [1]:
import os
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [2]:
# Reading the dataset with no columns titles and with latin encoding 
df_raw = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/covidtraintweets.csv', encoding = "ISO-8859-1", header=None)
df_raw = df_raw.iloc[1:] #drop 1st row
df_raw = df_raw.iloc[1:]
 # As the data has no column titles, we will add our own
df_raw.columns = ["id", "ScreenName", "Location", "date", "text", "label"]
df_raw['label'] = df_raw['label'].replace("Positive",1)
df_raw['label'] = df_raw['label'].replace("Negative",0)
df_raw['label'] = df_raw['label'].replace("Extremely Negative",0)
df_raw['label'] = df_raw['label'].replace("Extremely Positive",1)

# Show the first 5 rows of the dataframe.
# You can specify the number of rows to be shown as follows: df_raw.head(10)
df_raw.head()

,id,ScreenName,Location,date,text,label
2,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,1
3,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,1
4,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,1
5,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",0
6,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,1

In [3]:
# Checking the data's output balance
# The label '4' denotes positive sentiment and '0' denotes negative sentiment
df_raw['label'].value_counts()

1          18046
0          15398
Neutral     7712
Name: label, dtype: int64

In [4]:
# Ommiting every column except for the text and the label, as we won't need any of the other information
df = df_raw[["id", "ScreenName", "Location", "date", "text", "label"]]
df.head()

,id,ScreenName,Location,date,text,label
2,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,1
3,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,1
4,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,1
5,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",0
6,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,1

In [5]:
# Separating positive and negative rows
df_pos = df[df['label'] == 1]
df_neg = df[df['label'] == 0]
print(len(df_pos), len(df_neg))

18046 15398

In [6]:
# Only retaining 1/4th of our data from each output group
# Feel free to alter the dividing factor depending on your workspace
# 1/64 is a good place to start if you're unsure about your machine's power
df_pos = df_pos.iloc[:int(len(df_pos))]
df_neg = df_neg.iloc[:int(len(df_neg)/15398)]
print(len(df_pos), len(df_neg))

18046 1

In [7]:
df = pd.concat([df_pos])
len(df)

18046

In [8]:
positive_tweets_df = df.drop_duplicates()
export_csv = positive_tweets_df.to_csv(r'covid_postive_tweets1_final.csv')